<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <!--
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/music</property>
		-->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:mem:music</property>

        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.charSet">UTF-8</property>

        <!--
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        -->
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- SQL dialect -->
        <!--
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property><!-- //create-drop "update" did not work when adding unique constraint, for example -->
        <!-- <mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml"/> -->

		<!-- full text search settings -->
		<property name="hibernate.search.default.directory_provider">ram</property>
		
		<!-- 
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.default.indexBase">D:\h</property>
		 -->

		<mapping class="edu.self.model.Song" />
		<mapping class="edu.self.model.Chord" />
		<mapping class="edu.self.model.Performer" />
		<mapping class="edu.self.model.SongSummary" />
		<mapping class="edu.self.model.Statistics" />
		<mapping class="edu.self.model.User" />
		<mapping class="edu.self.model.Tag" />
		<mapping class="edu.self.model.ChordCustom" />
		<mapping class="edu.self.model.Vote" />
		<!-- -->
	</session-factory>
</hibernate-configuration>
